__pycache__

/build*
/.vscode

/.vs
/out
/scenes

/docs/html
/docs/latex

.DS_Store

/tests/multiple_feathers/meshes/feather_*.ply
alpha_test_*.exr
color_tex_test_*.exr
normal_tex_test_*.exr

/featherlab
data_visualization/pca_data.csv
data_visualization/pca_data_visualization.html
tests/owlbear/eye.mtl
tests/owlbear/eye.obj
scatter_bias_efficiency.html
timemaps/
errormaps/